.headerContent {
	align-self: flex-end;
}

.headerTitleContent {
	font-weight: 300;
	font-size: 4rem;
	line-height: 2rem;
	opacity: 0.8;

	padding-bottom: 6.5rem;
	margin: 0;
}

/* ******Header Conseils & Identité****** */
.header-Conseils {
	background-image: url("../images/header_conseils-2.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;	
}


/* ******Header Print & Objet****** */
.header-Print {
	background-image: url("../images/header_print.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* ******Header Web et RS****** */
.header-Digital {
	background-image: url("../images/header_web.jpg");
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
}


/* ******Header Events et Radio****** */
.header-Radio {
	background-image: url("../images/header_radio.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}






/* ******************* */
/* ******CONTENT****** */

.pictos {
	width: 100%;
}

.content {
	z-index: 4;
	
	padding-top: 4.375rem;
	padding-bottom: 4.375rem;
	
	position: relative;
}


.contentPictos {
	position: absolute;
	top: -3.125rem;
}

.pictoBlockContent {
	width: 8.75rem;
	height: 8.75rem;
	margin: auto;
	
	padding: 0.25rem;
	border-radius: 100%;
	
	background-color: #fff;
}

/* Animation picto */
.anim-Picto {
	animation: animRotation 1s ease-in-out;
}

@keyframes animRotation {
	from {
		-webkit-transform: rotate(0deg);
		/* Safari */
		transform: rotate(0deg);
		
		
	}

	to {
		-webkit-transform: rotate(360deg);
		/* Safari */
		transform: rotate(360deg);

	}
}



.contentTitle {
	/*margin-top: 3rem;*/
	margin-bottom: 1.25rem;
	font-size: 2.25rem;

	text-align: center;	
}

.contentSousTitle {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2rem;
	margin-bottom: 0.5rem;

	text-align: center;
}


/* ******************* */
/* ******GALERIE****** */

.galerie {
	padding-bottom: 4.375rem;
}

.galerieTitle {
	margin-bottom: 1.75rem;
	font-size: 2.25rem;

	text-align: center;
}

figure {
	position: relative;
	margin-bottom: 0;
	margin-top: 2rem;
}

.imgGalerie {
	width: 100%;
}

figcaption {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	bottom: 0.5rem;
	left: 0.5rem;


	padding: 3rem 0.5rem 0.5rem 0.5rem;

	background-color: #fff;
	opacity: 0;

	transition: opacity .6s ease;
}

figcaption:hover {
	opacity: 0.9;
}

figure h3,
figure h4 {
	text-align: center;
	color: #656565;

	font-size: 1.25rem;
	line-height: 1.5rem;
}

figure h3 {
	font-weight: 700;
	margin-bottom: 0.25rem;
}
